body {
    background-color: forestgreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#maindiv {
    margin-top: 1em;
    margin-left: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 1em;
    background-color: #f3eed1;
    color: black;
}

header {
    margin-left: 2em;
}

main a {
    color: black;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 2em;
    display: inline;
}

footer p {
    float: right;
    padding: 0.5em;
}

.twocolinput {
    display: grid;
    grid-template-columns: max-content max-content;
}